{% load static %}
{% load i18n %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1>{% trans 'Biznesingiz uchun yaxshiroq yechimlar' %}</h1>
                <h2>{% trans "Biz siz bilan aloqaga chqimoqchi bo'lganlar bilan bog'laymiz va buni rivojlantiramiz" %}</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="{% url 'base:signup' %}" class="btn-get-started scrollto">{% trans 'Boshlash' %}</a>
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i
                            class="bi bi-play-circle"></i><span>{% trans "Videoni ko'rish" %}</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->