<!-- ======= Header ======= -->
{% load i18n %}
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="{% url 'base:home' %}">Forms</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">{% translate "Uy" %}</a></li>
                <li><a class="nav-link scrollto" href="#why-us">{% translate "Nima uchun biz" %}</a></li>
                <li><a class="nav-link scrollto" href="#cta">{% translate "Harakatga chaqirish" %}</a></li>
                <li class="dropdown">
                    <a href="#">
                        <span>
                            Drop Down
                            {% if n_count > 0 %}
                            *
                            {% endif %}
                        </span>
                        <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'profile' request.user %}">Profile (@{{request.user}})</a></li>
                        {% endif %}
                        <li><a href="{% url 'base:new' %}">{% trans 'Yangi Forma' %}</a></li>
                        <li><a href="{% url 'base:notifications' %}">Notifications ({{ n_count }})</a></li>
                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                                    class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">
                        <span>{% trans "til" %}</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul>
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                        <li><a href="/{{ language.code }}/">{{ language.name_local }} ({{ language.code }})</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                {% if not request.user.is_authenticated %}
                <li><a class="getstarted scrollto" href="{% url 'base:signup' %}">{% trans "boshlash" %}</a></li>
                <li><a class="scrollto" href="{% url 'base:login' %}">{% trans "kirish" %}</a></li>
                {% else %}
                <li><a class="getstarted scrollto" href="{% url 'logout' %}">{% trans "chiqish" %}</a></li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->