{% extends 'fd/base.html' %}
{% load static %}
{% block title %}- permissions{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock head %}
{% block content %}
    <div id="section">
        <form method="post">
            {% csrf_token %}
            {% load widget_tweaks %}
            <div id="display-b">
                <h3>bloklanganlar</h3>
                {% render_field  forma_permissions.blocked_users id="list"%}
            </div>
            <div id="display-b">
                <h3>sorov yuborganlar</h3>
                {% render_field  forma_permissions.uwsr id="list" %}
            </div>
            <button id="btn" type="submit">Update</button>
        </form>
    </div>
{% endblock content %}