{% extends 'base/base.html' %}
{% block title %}Signup{% endblock title %}
{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="{% url 'base:home' %}">Home</a></li>
                <li>SignUp</li>
            </ol>
            <h2>Create Account</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Create Account</button>
            </form>
        </div>
    </section>

{% endblock content %}