<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Sign Up</title>
</head>

<body>
    <div class="login-box">
        <h2>SignUp</h2>
        <form method="post">
            {% csrf_token %}
            {% load widget_tweaks %}
            <div class="user-box">
                {% render_field form.username id="username" %}
                <label>Username</label>
            </div>
            <div class="user-box">
                {% render_field form.password1 id="username"  %}
                <label>Password</label>
            </div>
            <div class="user-box">
                {% render_field form.password2 id="username"  %}
                <label>Password Conifirm</label>
            </div>
            <button>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Create Account
            </button>
        </form>
    </div>
</body>

</html>