<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>
    <div class="container right-panel-active">
        <!-- Sign Up -->
        <div class="container__form container--signup">
            <form method="post" class="form" id="form1">
                {% load widget_tweaks %}
                {% csrf_token %}
                <h2 class="form__title">Sign Up</h2>
                {% render_field cuf.username placeholder="Username" class="input" %}
                {% render_field cuf.email placeholder="Email" class="input" %}
                {% render_field cuf.password1 placeholder="Password" class="input" %}
                {% render_field cuf.password2 placeholder="Confirm Password" class="input" %}
                <button type="submit" class="btn">Sign Up</button>
            </form>
        </div>

        <!-- Sign In -->
        <div class="container__form container--signin">
            <form method="post" class="form" id="form2">
                {% load widget_tweaks %}
                {% csrf_token %}
                <h2 class="form__title">Sign In</h2>
                {% render_field login_form.username placeholder="Username" class="input" %}
                {% render_field login_form.password placeholder="Password" class="input" %}
                <a href="#" class="link">Forgot your password?</a>
                <button type="submit" class="btn">Sign In</button>
            </form>
        </div>

        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Sign In</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/signup.js' %}"></script>
</body>

</html>