<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{forma.title}} - Dashboard</title>
</head>

<body>

    <p>visits: {{dashboard_obj.visits}}</p>
    <span>last visit: {{ dashboard_obj.last_visit }}</span>
    <form method="post">
        {% csrf_token %}
        {{ ufa }}
        <button type="submit">Update</button>
    </form>
</body>

</html>