<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notifications</title>
</head>

<body>
    {% for x in new_requests %}
    {% if x.form.author.username == request.user.username %}
    <div id="requests">
        <h1><a href="{% url 'base:single_request' x.form.slug x.id %}">{{ x.full_name }}</a> / <a
                href="{% url 'base:form' x.form.slug %}">{{ x.form.title }}</a></h1>
        <br>
        {{ x.email }}
        <a href="{% url 'base:profile' x.user.username %}">{{ x.user.username }}</a>
        <br>
        <br>
        <hr>
    </div>
    {% endif %}
    {% endfor %}
    <div id="response"></div>
    <script>
        let requests = document.querySelectorAll('#requests')
        let response = document.getElementById('response')
        if (requests) {
            if (requests.length > 0) {
                document.head.querySelector('title').innerHTML = `notifications (${requests.length})`
            }
            else if (requests.length <= 0) {
                response.innerHTML = "<h1>Asosiy jild top toza!</h1>"
            }
        }
    </script>
</body>

</html>