<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <img src="{{ user_p.profile.image.url }}" alt="sad" width="200">
    <a href="?tab=requests">requests</a>
    <a href="?tab=forms">Forms</a>
    <br>
    <br>
    <br>
    <hr>
    {% for x in user_forms %}
    {{ x.title }}
    <a href="{% url 'base:single' x.slug %}">{{ x.slug }}</a>
    <br>
    {% endfor %}
    {% for x in user_requests %}
    <span style="color: red;">{{ x.form }}</span>
    <a href="{% url 'base:single_request' x.form.slug x.id %}">{{ x.full_name }}</a>
    <br>
    {{ x.email }}
    {% endfor %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form }}
        {{ user_form }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>