<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@{{user_p.username}}</title>
</head>
<body>
    <a href="?tab=requests">requests</a>
    <a href="?tab=forms">Forms</a>
    {% for x in user_forms %}
    {{ x.title }}
    <br>
    {% endfor %}
    {% for x in user_requests %}
    <span style="color: red;">{{ x.form }}</span>
    <br>
    {{ x.email }}
    {% endfor %}
</body>
</html>