<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ single.title }} ({{ form_requests_count }})</title>
</head>
<body>
    {% if single.is_public %}
    <span>Public</span>
    {% else %}
    <span>Private</span>
    {% endif %}
    <br>
    {% if single.anonim_requests %}
    <h2>Siz akauntdan chqib turib anonim xabar yuborsez bo'ladi</h2>
    {% endif %}
    {{ single.message }}

    <form method="post">
        {% csrf_token %}
        {{ request_form }}        
        <button type="submit">Submit</button>
    </form>
    <a href="?tab=requests">requests_</a>
    <br>
    {% for y in requests_ %}
    <br>
    {{ y.full_name }}
    <br>
    {% endfor %}
</body>
</html>