{% extends 'pages/main/form_dashboard/base.html' %}
{% load static %}
{% block title %}- Edit{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock head %}
{% block content %}

<div class="form-section">
    <form method="post">
        {% csrf_token %}
        {% load widget_tweaks %}
        {% render_field edit_forma.title_uz id="input" placeholder="Sarlovha uzbek" %}
        {% render_field edit_forma.title_en id="input" placeholder="Title for en" %}
        <div id="display-b">
            <label for="anonim_requests">Anonim Requests</label>
            {% render_field edit_forma.anonim_requests id="anonim_requests" %}
        </div>
        <div id="display-b">
            <label for="is_public">Public</label>
        {% render_field edit_forma.is_public id="is_public" %}
        </div>
        <div id="display-b">
            <label for="infinite_requests">Infinite requests</label>
            {% render_field edit_forma.infinite_requests id='infinite_requests' %}
        </div>
        {% render_field edit_forma.message_uz id="text-area" placeholder="Xabar for Uzbek" %}
        {% render_field edit_forma.message_en id="text-area" placeholder="Xabar for En" %}
        <button type="submit" id="btn">Update</button>
    </form>
</div>
{% endblock content %}