<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/request.css' %}">
    <title>{{single_request.form.title}} - chat</title>
</head>

<body>

    <div class="chat-thread">
        {%  if single_request.user == request.user %}
        <span class="sent">
            {{single_request.description}}
            <p class="is_viewed">
                {% if single_request.view %}
                ✔️✔️
                {% else %}
                ✔️
                {% endif %}
            </p>
        </span>
        <span class="receive">{{single_request.form.message}}</span>
        {% else %}
        <span class="receive">
            {{single_request.description}}
            <p class="submited_on">{{ single_request.submited_on }}</p>
        </span>
        <span class="sent">{{single_request.form.message}}</span>
        {% endif %}
    </div>

    <!-- <form class="chat-window">
        <input class="chat-window-message" type="text" autocomplete="off" autofocus />
    </form> -->


</body>

</html>