.form-section{
    width: 500px;
    margin: 20px auto;
}
#input, #text-area{
    caret-color: #fff;
    color: #fff;
    background: transparent;
    padding: 5px;
    border-radius: 10px;
    outline: 2px solid #fff;
    margin: 5px 0px;
    width: 500px;
}
#display-b{
    display: block;
}
#btn{
    border: 2px solid #fff;
    width: 500px;
    padding: 10px 0px;
    border-radius: 5px;
    transition: 500ms all;
}
#btn:hover{
    background-color: #fff;
    color: #000;

}
#list{
    caret-color: #fff;
    color: #fff;
    background: transparent;
    padding: 5px;
    border-radius: 10px;
    outline: 2px solid #fff;
    margin: 5px 0px;
    width: 500px;
}