<!-- ======= Header ======= -->
{% load i18n %}
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="{% url 'base:home' %}">Forms</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">{% translate "Uy" %}</a></li>
                <li><a class="nav-link scrollto" href="#about">{% trans 'haqida' %}</a></li>
                <li><a class="nav-link scrollto" href="#services">{% trans 'ximatlar' %}</a></li>
                <li><a class="nav-link   scrollto" href="#portfolio">{% trans 'partfel' %}</a></li>
                <li class="dropdown">
                    <a href="#">
                        <span>
                            Drop Down
                            {% if n_count > 0 %}
                            *
                            {% endif %}
                        </span>
                        <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'profile' request.user %}">Profile (@{{request.user}})</a></li>
                        {% endif %}
                        <li><a href="{% url 'base:new' %}">New Form</a></li>
                        <li><a href="{% url 'base:notifications' %}">Notifications ({{ n_count }})</a></li>
                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                                    class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                {% if not request.user.is_authenticated %}
                <li><a class="getstarted scrollto" href="{% url 'base:signup' %}">Get Started</a></li>
                <li><a class="scrollto" href="{% url 'base:login' %}">Login</a></li>
                {% else %}
                <li><a class="getstarted scrollto" href="{% url 'base:logout' %}">Logout</a></li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->