<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ forma.title }} ({{ form_requests_count }})</title>
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
</head>
<body>
    {% if forma.is_public %}
    <span>This Form Public</span>
    {% else %}
    <span>This Form Private</span>
    {% endif %}
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == "uz" %}
    <a href="/en{% url 'base:form' forma.slug %}">Ingliz titliga tarjima qilish</a>
    {% else %}
    <a href="/form/{{forma.slug}}">O'zbek titliga tarjima qilish</a>
    {% endif %}
    {% if request_form %}
    <div class="container w-50 mt-4">
        <h4>Submit Request to <a target="_blank" href="{% url 'profile' forma.author %}" class="text-dark">@{{ forma.author }}</a></h4>
        <form method="post" class="mt-4">
            {% csrf_token %}
            {% load widget_tweaks %}
            <label for="full_name">Full Name</label>
            {% render_field request_form.full_name type="text" id="full_name" class="form-control mt-2 mb-2" placeholder="Full name" %}
            <label for="email">Email</label>
            {% render_field request_form.email type="email" class="form-control mt-2 mb-2" id="email" placeholder="Enter Valid email addres" %}
            {% render_field request_form.description class="form-control mt-2 mb-2" id="email" placeholder="Description" %}
            {% if forma.anonim_requests == True and request.user.is_authenticated %}
            <span class="d-flex">
                <label for="as_anonim" style="margin-right: 10px;">Anonim: </label>
                {% render_field request_form.as_anonim id="as_anonim" %}
            </span>
            {% else %}
            {% if request.user.is_authenticated %}
            <span>Bu Sorov <a href="{% url 'profile' request.user %}" class="text-dark">@{{request.user}}</a>dan yuboriladi</span>
            {% else %}
            <span>Bu Sorov Anonim Tarzda Yuboriladi</span>
            {% endif %}
            {% endif %}
            <button class="btn btn-info w-100 mt-4" type="submit">Submit request</button>
        </form>
    </div>
    {% endif %}
</body>
</html>