.scroll-cards {
    width: 370px;
    height: 100%;
    overflow: auto;
    padding: 20px 0px 5px 0px;
    font-family: sans-serif;
    cursor: default;
}

#requests {
    background-color: white;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 5px;
    padding: 25px 25px 15px 25px;
    transition: 0.3s;
}

#requests:hover {
    box-shadow: 5px 1px 20px 1px #ddd;
    transform: scale(0.96);
}