<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notifications</title>
</head>

<body>
    {% if test %}
    {% for x in test %}
    <div id="requests">
        <h1><a href="{% url 'base:single_request' x.form.slug x.id %}">{{ x.full_name }}</a> / <a
                href="{% url 'base:form' x.form.slug %}">{{ x.form.title }}</a></h1>
        <br>
        {{ x.email }}
        {% if not x.as_anonim %}
        <a href="{% url 'base:profile' x.user.username %}">{{ x.user.username }}</a>
        {% else %}
        <a href="#">Anonim</a>
        {% endif %}
        <br>
        <br>
        <hr>
    </div>
    {% endfor %}
    {% endif %}
    <div id="response"></div>
    <script src="{% static 'js/notify.js' %}"></script>
</body>

</html>