<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/notify.css' %}">
    <title>notifications</title>
</head>

<body>
    <span>Unread notify: {{n_count}}</span>
    <div class="scroll-cards">
        {% if unread_notifys %}
        {% for unr in unread_notifys %}
        <div id="requests">
            <div class="mail-info">
                {{unr.full_name}}
            </div>
            <div>
            </div>
            <div class="bottom-info">
                <div class="date">Submited on {{ unr.submited_on }}</div>
                <a href="{% url 'base:single_request' unr.form.slug unr.id %}">View</a>
            </div>

        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div id="response"><h1>{% trans 'Asosiy jild top toza!' %}</h1></div>
    <script src="{% static 'js/notify.js' %}"></script>
</body>

</html>