<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notifications</title>
</head>

<body>
    <span>Unread notify: {{n_count}}</span>
    {% if unread_notifys %}
    {% for ur in unread_notifys %}
    <div id="requests">
        <h1><a href="{% url 'base:single_request' ur.form.slug ur.id %}">{{ ur.full_name }}</a> / <a
                href="{% url 'base:form' ur.form.slug %}">{{ ur.form.title }}</a></h1>
        <br>
        {{ x.email }}
        {% if not ur.as_anonim %}
        <a href="{% url 'base:profile' ur.user.username %}">{{ ur.user.username }}</a>
        {% else %}
        <a href="#">Anonim</a>
        {% endif %}
        <br>
        <br>
        <hr>
    </div>
    {% endfor %}
    {% endif %}
    <div id="response"></div>
    <script src="{% static 'js/notify.js' %}"></script>
</body>

</html>